{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    
    <!--Cart-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{% static 'css/output.css' %}" rel='stylesheet'>

  </head>
  <body style="height: 100vh width:100vw">
    <div class="flex flex-col h-full w-full overflow-hidden">
        <!-- Header -->
            <div class="flex justify-end fixed z-100 lg:justify-between h-16 px-10 w-full self-center bg-white border-b-2">
                <ul class="items-stretch hidden space-x-3 lg:flex">
                    <li class="flex">
                        <a rel="noopener noreferrer" href="{% url "carts:cart" %}" class="flex items-center px-4 -mb-1 border-b-2 border-transparent dark:border- dark:border- text-purple-600 dark:text-purple-400 text-purple-600 dark:text-purple-400 border-purple-600 dark:border-purple-400 border-purple-600 dark:border-purple-400">
                        </a>
                    </li>
                    <li class="flex">
                        <a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 border-transparent dark:border- dark:border-">
                        </a>
                    </li>
                    <li class="flex">
                        <a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 border-transparent dark:border- dark:border-">Link</a>
                    </li>
                </ul>
                <a rel="noopener noreferrer" href="/" aria-label="Back to homepage" class="flex mr-5 items-center p-2">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32" class="w-8 h-8 text-purple-600 dark:text-purple-400 text-purple-600 dark:text-purple-400">
                        <path d="M27.912 7.289l-10.324-5.961c-0.455-0.268-1.002-0.425-1.588-0.425s-1.133 0.158-1.604 0.433l0.015-0.008-10.324 5.961c-0.955 0.561-1.586 1.582-1.588 2.75v11.922c0.002 1.168 0.635 2.189 1.574 2.742l0.016 0.008 10.322 5.961c0.455 0.267 1.004 0.425 1.59 0.425 0.584 0 1.131-0.158 1.602-0.433l-0.014 0.008 10.322-5.961c0.955-0.561 1.586-1.582 1.588-2.75v-11.922c-0.002-1.168-0.633-2.189-1.573-2.742zM27.383 21.961c0 0.389-0.211 0.73-0.526 0.914l-0.004 0.002-10.324 5.961c-0.152 0.088-0.334 0.142-0.53 0.142s-0.377-0.053-0.535-0.145l0.005 0.002-10.324-5.961c-0.319-0.186-0.529-0.527-0.529-0.916v-11.922c0-0.389 0.211-0.73 0.526-0.914l0.004-0.002 10.324-5.961c0.152-0.090 0.334-0.143 0.53-0.143s0.377 0.053 0.535 0.144l-0.006-0.002 10.324 5.961c0.319 0.185 0.529 0.527 0.529 0.916z"></path>
                        <path d="M22.094 19.451h-0.758c-0.188 0-0.363 0.049-0.515 0.135l0.006-0.004-4.574 2.512-5.282-3.049v-6.082l5.282-3.051 4.576 2.504c0.146 0.082 0.323 0.131 0.508 0.131h0.758c0.293 0 0.529-0.239 0.529-0.531v-0.716c0-0.2-0.11-0.373-0.271-0.463l-0.004-0.002-5.078-2.777c-0.293-0.164-0.645-0.26-1.015-0.26-0.39 0-0.756 0.106-1.070 0.289l0.010-0.006-5.281 3.049c-0.636 0.375-1.056 1.055-1.059 1.834v6.082c0 0.779 0.422 1.461 1.049 1.828l0.009 0.006 5.281 3.049c0.305 0.178 0.67 0.284 1.061 0.284 0.373 0 0.723-0.098 1.027-0.265l-0.012 0.006 5.080-2.787c0.166-0.091 0.276-0.265 0.276-0.465v-0.716c0-0.293-0.238-0.529-0.529-0.529z"></path>
                    </svg>
                </a>
                <div class="flex items-center lg:space-x-4">
                    <div class="flex-row">
                        <form  action="{% url "store:search" %}" class="search absolute inset-y-0 left-0 flex items-center pl-2 ml-6">
                            <button  type="submit" title="Search" class="p-2 focus:outline-none focus:ring bg-purple-600 rounded hover:bg-purple-800 transition-all duration-300">
                                <svg fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 text-white dark:text-gray-100 text-gray-800 dark:text-gray-100">
                                    <path d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
                                </svg>
                            </button>
                            <input type="text" name="keyword" placeholder="Search..." class="w-32 ml-2 py-2 pl-10 text-sm rounded-lg sm:w-auto focus:outline-none bg-gray-200 dark:bg-gray-800 bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-100 text-gray-800 dark:text-gray-100 focus:bg-gray-100 focus:dark:bg-gray-900 focus:dark:bg-gray-900">
                        </form>
                    </div>

                    {% if user.id is not None %}
                        <a href="{% url "accounts:logout" %}" class=" px-3 py-2 font-semibold rounded block text-gray-50 dark:text-gray-900 text-gray-50 dark:text-gray-900 bg-purple-600 dark:bg-purple-400 bg-purple-600 dark:bg-purple-400 hover:bg-purple-800 transition-all duration-300">Logout</a>
                    {% else %}
                        <a href="{% url "accounts:login" %}" class=" px-3 py-2 font-semibold rounded block text-gray-50 dark:text-gray-900 text-gray-50 dark:text-gray-900 bg-purple-600 dark:bg-purple-400 bg-purple-600 dark:bg-purple-400 hover:bg-purple-800 transition-all duration-300">Log in</a>
                        <a href="{% url "accounts:register" %}" class="hidden md:block ml-2 px-3 py-2 font-semibold rounded block text-gray-50 dark:text-gray-900 text-gray-50 dark:text-gray-900 bg-purple-600 dark:bg-purple-400 bg-purple-600 dark:bg-purple-400 hover:bg-purple-800 transition-all duration-300 ">Register</a>
                    {% endif %}
                    <a href={% url "carts:cart" %}>
                        <div class="bg-green-600 text-white px-3 py-1 ml-2 rounded-full flex items-center h-10 self-center">
                            <i class="fas fa-shopping-cart mr-2"></i>
                            <span>{{cart_count}}</span> <span class="hidden md:inline ml-1">items</span>
                        </div>
                    </a>
                </div>
            </div>
        </header>
        <!-- Navbar -->
        <div class="flex flex-col lg:flex-row lg:min-h-screen w-[100vw] mt-14">
            <div @click.away="open = false" class=" mt-2 flex flex-col w-full lg:w-52 text-gray-700 bg-gray-200 dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0" x-data="{ open: false }">
                <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
                    <button class="rounded-lg lg:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                    </button>
                </div>
                <nav :class="{'block': open, 'hidden': !open}" class="lg:fixed flex-grow lg:block px-4 pb-4 lg:pb-0 lg:overflow-y-auto min-h-[80%]">
                    <a class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-transparent rounded-lg dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-white hover:bg-gray-100 focus:bg-purple-600 focus:outline-none focus:shadow-outline" href="/">Home</a>
                    <a class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-white hover:bg-gray-100 focus:bg-purple-600 focus:outline-none focus:shadow-outline" href="{% url "accounts:dashboard" %}">Dashboard</a>
                    <a class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-white hover:bg-gray-100 focus:bg-purple-600 focus:outline-none focus:shadow-outline" href="{% url "store:store" %}">Store</a>
                    <a class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-white hover:bg-gray-100 focus:bg-purple-600 focus:outline-none focus:shadow-outline" href="#">About</a>
                    <div @click.away="open = false" class="relative" x-data="{ open: false }">
                        <button @click="open = !open" class="lg:visible invisible flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 lg:block hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                        <span>Shop By Category</span>
                            <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform lg:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                        <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-lg shadow-lg">
                            <div class="px-2 py-2 bg-white rounded-lg shadow dark-mode:bg-gray-800">
                                {% for category in links %}
                                    <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 lg:mt-0 hover:text-gray-900 focus:text-white hover:bg-gray-200 focus:bg-purple-600 focus:outline-none focus:shadow-outline" href="{% url "store:products_by_category" category.slug %}">{{category.category_name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="border-solid border-l-1 border-gray-300 w-full lg:mt-2">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        </div>
    </div>
    </div>
  </body>
</html>